{% extends "base.html" %}

{% block title %}TRE - Project{% endblock %}

{% block content %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page"><a href="{{ url_for('project.create') }}">Project Register</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{ url_for('project.aggrement') }}">Legal Aggrements</a></li>
    <li class="breadcrumb-item active" aria-current="page">Metadata Submission</li>
    <li class="breadcrumb-item" aria-current="page">Data Upload</li>
    <li class="breadcrumb-item" aria-current="page">Done</li>
  </ol>
</nav>

<p>TODO: add metadata form here.</p>
<form action="post">
    <button type="submit" class="btn btn-primary">Next</button>
</form>
{% endblock %}
